.Header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  height: 62px;
  padding-inline: 1rem;
  background-color: #161616;
  color: white;

  .user {
    display: flex;
    place-items: center;
    gap: 1rem;

    .profile-pic {
      height: 41px;
      border: 3px solid #BB000E;
      border-radius: 50%;
    }

    .logout {
      color: #BB000E;
      cursor: pointer;

      svg {
        margin-right: .25rem;
      }
    }
  }
}

.SideBar {
  background-color: #BB000E;

  .Navigation {
    list-style: none;
    padding-left: 0;
    color: white;
  }

  .Navigation-link {
    padding-block: .5rem;
    padding-inline: 1rem;
    cursor: pointer;

    &.selected, &:hover {
      background-color: #E31C25;
    }
  }

  .link-name {
    display: none;
    padding-left: .5rem;
  }

  .arrow {
    float:right;
    display: none;
  }

  &.open {
    .link-name {
      display: inline;
    }

    .arrow {
      display: block;
    }
  }
}
