.Input,
.SelectInput {
  svg {
    padding-right: 10px;
    opacity: 0.4;
  }

  input,
  select {
    display: block;
    border: none;
    border-bottom: 1px solid #bb000e;
    background: none;

    &:focus {
      outline: none;
    }
  }
}

.SelectInput select {
  &,
  option {
    text-transform: capitalize;
  }
}

.Button {
  --btn-bg: #bb000e;
  color: white;
  background-color: var(--btn-bg);
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.25s linear;
  padding: 0.5rem 0.75rem;

  svg {
    padding-right: 10px;
  }

  &:hover {
    --btn-bg: #e31c25;
  }
}

.SearchBar {
  background-color: #2c2c2c;
  border-radius: 15px;
  padding: .2rem .5rem;
  width: fit-content;
  cursor: pointer;
  color: white;

  & > * {
    opacity: 0.4;
    transition: opacity .25s linear;
  }

  &:hover > *, &:focus-within > * {
    opacity: 1;
  }

  input {
    padding-left: 10px;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font-weight: bold;
    cursor: pointer;

    &:not(:placeholder-shown) {
      opacity: 1;
    }

    &::placeholder {
      opacity: 1;
    }
  }
}

